App {
    overflow: hidden;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    min-height: 730px;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: black;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: black;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    margin-left: 5px;
    font: inherit;
    outline:0;
    text-decoration: underline;
    cursor: pointer;
    padding-bottom: 500px;
}

.MedicationList-ListContainer {
    display: flex;
}

.addMedsSelectContainer {
    display: flex;
    justify-content: flex-start;
}

.addMedsLabel {
    margin-right: 20px;
}