LoginPage {
    background-color: #ffbd59;
}

.login-container {
    background-color: #ffbd59;
    text-align: center;
}

button {
    background-color: #ffbd59;
}

.logo-container {
background-color: #ffbd59;
}

.TextField-without-border-radius fieldset {
    border-radius: 0;
    border-color: black;
}