.nav-title {
    font-size: 24px;
    font-family: 'Megrim', cursive;
    font-weight: 700;
    display: inline-block;
    color: black;
    padding-left: 10px;
}

.nav {
  overflow: hidden;
  background-color: #ffbd59;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
}

.nav-link {
  float: left;
  color: black;
  background-color: #ffbd59;
  text-align: center;
  padding-top: 0px;
  padding-right: 1px;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  /* font-family: 'Megrim', cursive; */
  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  background-color: #ffbd59;
}

.nav-right {
  /* float: right; */
}

